@keyframes blinker{
    50% {
        background-color:#808080;
      }
}
.col-1{ 
    animation:blinker;
    animation-duration:2s;
}
@keyframes col-1{
    0% { 
        background-color: #000;
    }
    50% {  background-color: #c2c1c1;}
    100% {  background-color: #000;}
}
@keyframes col-2{
    0% { 
        background-color: #000;
    }
    50% {  background-color: #c2c1c1;}
    100% {  background-color: #000;}
}
.col-2{ 
    animation-duration:2s;
    
}
@keyframes col-3{
    0% { 
        background-color: #000;
    }
    50% {  background-color: #c2c1c1;}
    100% {  background-color: #000;}
}
.col-3{ 
    
    animation-duration:1.5s;
}
@keyframes col-4{
    0% { 
        background-color: #000;
    }
    50% {  background-color: #c2c1c1;}
    100% {  background-color: #000;}
}
.col-4{ 
    
    animation-duration:1.5s;
}
@keyframes col-5{
    0% { 
        background-color: #000;
    }
    50% {  background-color: #c2c1c1;}
    100% {  background-color: #000;}
}
.col-5{ 
    
    animation-duration:1.5s;
}
@keyframes col-6{
    0% { 
        background-color: #000;
    }
    50% {  background-color: #c2c1c1;}
    100% {  background-color: #000;}
}
.col-6{ 
    
    animation-duration:1.5s;
}
@keyframes col-7{
    0% { 
        background-color: #000;
    }
    50% {  background-color: #c2c1c1;}
    100% {  background-color: #000;}
}
.col-7{ 
    
    animation-duration:1.5s;
}
@keyframes col-8{
    0% { 
        background-color: #000;
    }
    50% {  background-color: #c2c1c1;}
    100% {  background-color: #000;}
}
.col-8{ 
    
    animation-duration:1.5s;
}
@keyframes col-9{
    0% { 
        background-color: #000;
    }
    50% {  background-color: #c2c1c1;}
    100% {  background-color: #000;}
}
.col-9{ 
    
    animation-duration:1.5s;
}
@keyframes col-10{
    0% { 
        background-color: #000;
    }
    50% {  background-color: #c2c1c1;}
    100% {  background-color: #000;}
}
.col-10{ 
    
    animation-duration:1.5s;
}
@keyframes col-11{
    0% { 
        background-color: #000;
    }
    50% {  background-color: #c2c1c1;}
    100% {  background-color: #000;}
}
.col-11{ 
    
    animation-duration:1.5s;
}
@keyframes col-12{
    0% { 
        background-color: #000;
    }
    50% {  background-color: #c2c1c1;}
    100% {  background-color: #000;}
}
.col-12{ 
    animation-duration:1.5s;
}
@keyframes col-13{
    0% { 
        background-color: #000;
    }
    50% {  background-color: #c2c1c1;}
    100% {  background-color: #000;}
}
.col-13{ 
    animation-duration:1.5s;
}
@keyframes col-14{
    0% { 
        background-color: #000;
    }
    50% {  background-color: #c2c1c1;}
    100% {  background-color: #000;}
}
.col-14{ 
    animation-duration:1.5s;
}
@keyframes col-15{
    0% { 
        background-color: #000;
    }
    50% {  background-color: #c2c1c1;}
    100% {  background-color: #000;}
}
.col-15{ 
    animation-duration:1.5s;
}
@keyframes col-16{
    0% { 
        background-color: #000;
    }
    50% {  background-color: #c2c1c1;}
    100% {  background-color: #000;}
}
.col-16{ 
    animation-duration:1.5s;
}
.disp{
    text-align: center;
    height:60px;
    width:300px;
    font-size:25px;
    color: #fff;
    margin-top:50px;
    position:relative;
    left:35%;
    padding-right:30%;
}
.try{
    text-align: center;
    height:60px;
    width:300px;
    font-size:25px;
    color: rgb(209, 123, 123);
    margin-top:50px;
    position:relative;
    left:38%;
    padding-right:30%;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    height:300px;
    width:300px;
    padding-top:100px;
    position:relative;
    left:35%;
    padding-right:30%;
}
.col-1{
    height:75px;
    width:75px;
    background-color:#000;
    border-color: #808080;
    border-radius:8px;
    border-style:solid;
    border-width:2px;
}
.col-2{
    height:75px;
    width:75px;
    background-color:#000;
    border-color: #808080;
    border-radius:8px;
    border-style:solid;
    border-width:2px;
}
.col-3{
    height:75px;
    width:75px;
    background-color:#000;
    border-color: #808080;
    border-radius:8px;
    border-style:solid;
    border-width:2px;    
}
.col-4{ 
    height:75px;
    width:75px;
    background-color:#000;
    border-color: #808080;
    border-radius:8px;
    border-style:solid;
    border-width:2px; 
}
.col-5{
    height:75px;
    width:75px;
    background-color:#000;
    border-color: #808080;
    border-radius:8px;
    border-style:solid;
    border-width:2px;
}
.col-6{
    height:75px;
    width:75px;
    background-color:#000;
    border-color: #808080;
    border-radius:8px;
    border-style:solid;
    border-width:2px;
}
.col-7{
    height:75px;
    width:75px;
    background-color:#000;
    border-color: #808080;
    border-radius:8px;
    border-style:solid;
    border-width:2px;
}
.col-8{
    height:75px;
    width:75px;
    background-color:#000;
    border-color: #808080;
    border-radius:8px;
    border-style:solid;
    border-width:2px;
}
.col-9{
    height:75px;
    width:75px;
    background-color:#000;
    border-color: #808080;
    border-radius:8px;
    border-style:solid;
    border-width:2px;
}
.col-10{
    height:75px;
    width:75px;
    background-color:#000;
    border-color: #808080;
    border-radius:8px;
    border-style:solid;
    border-width:2px;
}
.col-11{
    height:75px;
    width:75px;
    background-color:#000;
    border-color: #808080;
    border-radius:8px;
    border-style:solid;
    border-width:2px;
}
.col-12{
    height:75px;
    width:75px;
    background-color:#000;
    border-color: #808080;
    border-radius:8px;
    border-style:solid;
    border-width:2px;
}
.col-13{
    height:75px;
    width:75px;
    background-color:#000;
    border-color: #808080;
    border-radius:8px;
    border-style:solid;
    border-width:2px;
}
.col-14{
    height:75px;
    width:75px;
    background-color:#000;
    border-color: #808080;
    border-radius:8px;
    border-style:solid;
    border-width:2px;
}
.col-15{
    height:75px;
    width:75px;
    background-color:#000;
    border-color: #808080;
    border-radius:8px;
    border-style:solid;
    border-width:2px;
}
.col-16{
    height:75px;
    width:75px;
    background-color:#000;
    border-color: #808080;
    border-radius:8px;
    border-style:solid;
    border-width:2px;
}